<section class="banner banner--<%= data.img %>">
    <div class="banner__wrapper">
        <img src="img/icons/icon-<%= data.icon %>.svg" alt="" class="banner__icon">
        <div class="banner__wrapper-title">
            <p class=""><%= data.title %></p>
            <%- include ('../components/breadcrumb', { bc: data.bc }) %>
        </div>
    </div>
</section>
<section class="bannerFooter">
    <%- include ('../components/breadcrumb', { bc: data.bc }) %>
</section>
