<section class="carouselBets">
	<div class="carouselBets__header">
		<div class="carouselBets__header-title">
			<img src="img/icon-star-corp.svg" alt="">
			<p class="u-f--h2 u-w--bold">Novedades</p>
		</div>
		<a href="#" class="carouselBets__header-link">
			<p>VER TODOS</p>
			<img src="img/icon-arrow-circle-red.svg" alt="">
		</a>
	</div>
	<section class="carouselBets__carousel splide arrows-right">
		<div class="splide__track">
			<ul class="splide__list">
				<% data.forEach( e=> { %>
					<li class="splide__slide">
						<article class="card">
							<div class="card__image">
								<img src="img/<%= e.img %>">
							</div>
							<div class="card__content">
								<p class="card__content-title">
									<%= e.partido %>
								</p>
								<p class="card__content-subtitle">
									<%= e.division %>
								</p>
								<p class="card__content-desc">
									<%= e.dia %>
								</p>
								<p class="card__content-desc">
									<%= e.hora %>
								</p>

								<div class="card__footer card__footer-columns">
									<div class="card__footer-column">
										<span>1</span>
										<button class="btn__black--lighter">2,25</button>
									</div>
									<div class="card__footer-column">
										<span>✖</span>
										<button class="btn__black--lighter">3,75</button>
									</div>
									<div class="card__footer-column">
										<span>2</span>
										<button class="btn__black--lighter">8,50</button>
									</div>
								</div>
							</div>
						</article>
					</li>
					<% }) %>
			</ul>
		</div>
	</section>
</section>