<section class="gridFull <%= data %>">
    <div class="headerModule">
        <div class="headerModule-title">
            <img src="img/icons/icon-star-corp.svg" alt="">
            <p class="u-f--h2 u-w--bold">Novedades</p>
        </div>
        <a href="#" class="headerModule-link redCta">
            <span>VER TODOS</span>
            <img src="img/icons/icon-arrow-circle-red.svg" alt="">
        </a>
    </div>
    <div class="splide" data-order="3">
        <div class="splide__gradient"></div>
        <div class="splide__arrows splideArrows--right">
            <button class="splide__arrow splide__arrow--prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
                    <path id="indicator-left__grey-circle__big"
                        d="M28,14A14,14,0,1,0,14,28,14,14,0,0,0,28,14ZM10.58,21.42a2,2,0,0,1-.012-2.828l.012-.012,4.24-4.22a.5.5,0,0,0,.013-.707l-.013-.013L10.58,9.42a2.008,2.008,0,0,1,2.84-2.84l6,6a2,2,0,0,1,.012,2.828l-.012.012-6,6a2,2,0,0,1-2.828.012Z"
                        fill="#8e9296" />
                </svg>

            </button>
            <button class="splide__arrow splide__arrow--next">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
                    <path id="indicator-left__grey-circle__big"
                        d="M28,14A14,14,0,1,0,14,28,14,14,0,0,0,28,14ZM10.58,21.42a2,2,0,0,1-.012-2.828l.012-.012,4.24-4.22a.5.5,0,0,0,.013-.707l-.013-.013L10.58,9.42a2.008,2.008,0,0,1,2.84-2.84l6,6a2,2,0,0,1,.012,2.828l-.012.012-6,6a2,2,0,0,1-2.828.012Z"
                        fill="#8e9296" />
                </svg>
            </button>
        </div>
        <div class="splide__track">
            <div class="splide__list">
                <div class="item splide__slide">
                    <img src="img/images/img-grid-1.jpg" alt="">
                    <%- include ('../components/hover') %>
                </div>
                <div class="item splide__slide">
                    <img src="img/images/img-grid-2.jpg" alt="">
                       <%- include ('../components/hover') %>
                </div>
                <div class="item splide__slide">
                    <img src="img/images/img-grid-3.jpg" alt="">
                       <%- include ('../components/hover') %>
                </div>
                <div class="item splide__slide">
                    <img src="img/images/img-grid-4.jpg" alt="">
                       <%- include ('../components/hover') %>
                </div>
                <div class="item splide__slide">
                    <img src="img/images/img-grid-5.jpg" alt="">
                       <%- include ('../components/hover') %>
                </div>
                <div class="item splide__slide">
                    <img src="img/images/img-grid-6.jpg" alt="">
                       <%- include ('../components/hover') %>
                </div>
                <div class="item splide__slide">
                    <img src="img/images/img-grid-7.jpg" alt="">
                       <%- include ('../components/hover') %>
                </div>
                <div class="item splide__slide">
                    <img src="img/images/img-grid-8.jpg" alt="">
                       <%- include ('../components/hover') %>
                </div>
                <div class="item splide__slide">
                    <img src="img/images/img-grid-9.jpg" alt="">
                       <%- include ('../components/hover') %>
                </div>
                <div class="item splide__slide">
                    <img src="img/images/img-grid-10.jpg" alt="">
                       <%- include ('../components/hover') %>
                </div>
                <div class="item splide__slide">
                    <img src="img/images/img-grid-11.jpg" alt="">
                       <%- include ('../components/hover') %>
                </div>
                <div class="item splide__slide">
                    <img src="img/images/img-grid-12.jpg" alt="">
                       <%- include ('../components/hover') %>
                </div>
                <div class="item splide__slide">
                    <img src="img/images/img-grid-1.jpg" alt="">
                       <%- include ('../components/hover') %>
                </div>
                <div class="item splide__slide">
                    <img src="img/images/img-grid-2.jpg" alt="">
                       <%- include ('../components/hover') %>
                </div>
                <div class="item splide__slide">
                    <img src="img/images/img-grid-3.jpg" alt="">
                       <%- include ('../components/hover') %>
                </div>
                <div class="item splide__slide">
                    <img src="img/images/img-grid-4.jpg" alt="">
                       <%- include ('../components/hover') %>
                </div>
                <div class="item splide__slide">
                    <img src="img/images/img-grid-5.jpg" alt="">
                       <%- include ('../components/hover') %>
                </div>
                <div class="item splide__slide">
                    <img src="img/images/img-grid-6.jpg" alt="">
                       <%- include ('../components/hover') %>
                </div>
                <div class="item splide__slide">
                    <img src="img/images/img-grid-7.jpg" alt="">
                       <%- include ('../components/hover') %>
                </div>
                <div class="item splide__slide">
                    <img src="img/images/img-grid-8.jpg" alt="">
                       <%- include ('../components/hover') %>
                </div>
                <div class="item splide__slide">
                    <img src="img/images/img-grid-9.jpg" alt="">
                       <%- include ('../components/hover') %>
                </div>
            </div>
        </div>
    </div>
</section>