<%- include ('layout/head', {title: "App Apuestas" , css: "app-apuestas" }) %>

<%- include ('modules/deposit') %>

<main class="pageContainer">

	<%- include ('layout/header', { mode: ''}) %>

	<section class="has-header">

		<%- include ('modules/banner-app-apuestas') %>

		<%- include ('modules/app-apuestas') %>

		<%- include ('layout/footer') %>

	</section>

</main>


<%- include ('layout/scripts',  { script: 'app-apuestas' }) %>