<%- include ('layout/head', {title: "App Apuestas" , css: "app-apuestas" }) %>



<main class="pageContainer">

	<%- include ('layout/header', { mode: ''}) %>

	<section class="has-header">

		<%- include ('modules/banner-app-apuestas') %>

		<%- include ('modules/app-apuestas') %>

		<%- include ('layout/footer') %>

	</section>

</main>


<%- include ('modules/mpu') %>
<%- include ('layout/scripts',  { script: 'appApuestas', screen: 'casino' }) %>