<%- include ('layout/head', {title: "Atención Cliente" , css: "atencion-cliente", header: "has-header" }) %>

<%- include ('modules/deposit') %>

<main class="pageContainer">

	<%- include ('layout/header', { mode: ""}) %>

	<main class="has-header">

		<%- include ('modules/atencion-cliente') %>

		<%- include ('layout/footer') %>

	</main>

</main>


<%- include ('layout/scripts',  { script: 'casino' }) %>