<%- include ('layout/head', {title: 'Atención Cliente' , css: 'atencion-cliente', header: 'has-header' }) %>



<main class="pageContainer">

	<%- include ('layout/header', { mode: ''}) %>

	<main class="has-header">

		<%- include ('modules/atencion-cliente') %>

		<%- include ('layout/footer') %>

	</main>

</main>


<%- include ('modules/mpu') %>
<%- include ('layout/scripts',  { script: 'atencion-cliente', screen: 'casino' }) %>