<%- include ('layout/head', {title: 'Board game' , css: 'board-game', header: 'has-header' }) %>



<main class="pageContainer">

	<%- include ('layout/header', { mode: ''}) %>

	<main class="has-header">

		<%- include ('modules/board-game') %>

		<%- include ('layout/footer') %>

	</main>

</main>


<%- include ('modules/mpu') %>
<%- include ('layout/scripts',  { script: 'boardGame', screen: 'casino' }) %>