<%- include ('layout/head', { title: "Casino Screen" , css: "screens", header: "has-header" }) %>

<%- include ('layout/header') %>

<main class="has-header">

<%- include ('modules/screens-bar') %>

    <section class="screens">
        <section class="screen">
            <img src="img/images/img-screen.jpg" alt="">
        </section>

        <%- include ('modules/aside-casino') %>
    </section>

<%- include ('layout/footer') %>

</main>

<%- include ('layout/scripts', { script: 'home' }) %>