<%- include ('layout/head', { title: "Casino Screen" , css: "screens", header: "has-header" }) %>

<%- include ('layout/header') %>

<%- include ('modules/screens-bar') %>

<main class="screens">
    <section class="screen">
        <img src="img/img-screen.jpg" alt="">
    </section>

    <%- include ('modules/aside-casino') %>
</main>

<%- include ('layout/footer') %>

<%- include ('layout/scripts', { script: 'home' }) %>