<%
const banner =
  {
    img: "casino",
    icon: "banner-casino",
    title: "Juegos de Casino",
    breadcrumb: "Casino"
  }
%>

<%- include ('layout/head', {title: "Casino" , css: "casino", header: "has-header" }) %>

<%- include ('layout/header', { mode: ""}) %>

<main class="has-header">

  <%- include ('modules/banner', { data: banner }) %>

  <%- include ('modules/finder-casino') %>

  <%- include ('modules/text-block') %>

  <%- include ('layout/footer') %>

</main>

<%- include ('layout/scripts',  { script: 'casino' }) %>