<%
const banner =
  {
    img: "casino",
    icon: "banner-casino",
    title: "Juegos de Casino",
    bc: {
      first: "Casino de Barcelona",
      second: undefined,
      third: undefined,
      current: "Casino"
    }
  }
%>

<%- include ('layout/head', {title: "Casino" , css: "casino" }) %>



<main class="pageContainer">

  <%- include ('layout/header', { mode: ""}) %>

  <main class="has-header">

    <%- include ('modules/banner', { data: banner }) %>

    <%- include ('modules/finder-casino') %>

    <%- include ('modules/text-block') %>

    <%- include ('layout/footer') %>

  </main>

</main>


<%- include ('modules/mpu') %>
<%- include ('layout/scripts',  { script: 'casino', screen: 'casino' }) %>