<%
    let nav = {
        data: 'nav-active',
        docs: '',
        wallet: '',
        hist: '',
        pref: '',
        supp: '',
        game: ''
    }
%>

<%- include ('layout/head', {title: "Layout" , css: "user" }) %>

<%- include ('modules/deposit') %>

<main class="pageContainer">

    <%- include ('layout/header', { mode: "header--light"}) %>

    <section class="userScreen has-header">

        <%- include ('objects/user/user-menu', { nav: nav }) %>

        <section class="userContent ">
            <div class="dataBlock block-active">
                <%- include ('objects/user/data') %>
            </div>
            <div class="dataModifyBlock">
                <%- include ('objects/user/data-modify') %>
            </div>
        </section>

    </section>

</main>

<%- include ('layout/scripts', { script: 'data'})%>

