<%
    let nav = {
        data: '',
        docs: 'nav-active',
        wallet: '',
        hist: '',
        pref: '',
        supp: '',
    }
%>

<%- include ('layout/head', {title: "Layout" , css: "user" }) %>

<%- include ('modules/deposit') %>

<main class="pageContainer">

    <%- include ('layout/header', { mode: "header--light"}) %>

    <section class="userScreen">

        <%- include ('objects/user/user-menu', { nav: nav }) %>

        <section class="userContent has-header">
            <div class="userContent__block">
                <div class="docsBlock block-active">
                    <%- include ('objects/user/docs') %>
                </div>
            </div>
        </section>

    </section>

</main>

<%- include ('layout/scripts', { script: 'docs'})%>

