<%
    let nav = {
        data: '',
        docs: '',
        wallet: '',
        hist: '',
        pref: '',
        supp: '',
        game: 'nav-active'
    }
%>

<%- include ('layout/head', {title: "Juego Responsable" , css: "user" }) %>



<main class="pageContainer">

    <%- include ('layout/header', { mode: "header--light"}) %>

    <section class="userScreen has-header">

        <%- include ('objects/user/user-menu', { nav: nav }) %>

        <section class="userContent ">
            <div class="gameBlock gameLimitBlock block-active">
                <%- include ('objects/user/game-limit') %>
            </div>
        </section>

    </section>

</main>

<%- include ('modules/mpu') %>
<%- include ('layout/scripts', { script: 'game', screen: 'user' })%>
