<%
    let nav = {
        data: '',
        docs: '',
        wallet: '',
        hist: 'nav-active',
        pref: '',
        supp: '',
    }
%>

<%- include ('layout/head', {title: "Mi Historial" , css: "user" }) %>

<%- include ('modules/deposit') %>

<main class="pageContainer">

    <%- include ('layout/header', { mode: "header--light"}) %>

    <section class="userScreen has-header">

        <%- include ('objects/user/user-menu', { nav: nav }) %>

        <section class="userContent">
            <div class="userContent__block">
                <%- include ('objects/user/history') %>
            </div>
        </section>

    </section>

</main>

<%- include ('layout/scripts', { script: 'history', screen: 'user' })%>

