<%
const carouselData = [
  {
    title: "Descubre a Emerald King Rainbow Road",
    body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet dignissim tortor.",
  },
  {
    title: "Descubre a Emerald King Rainbow Road",
    body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet dignissim tortor.",
  },
  {
    title: "Descubre a Emerald King Rainbow Road",
    body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet dignissim tortor.",
  }
]

const gridHalfLeft =
  {
    icon: "icon-heart-white",
    title: "Tus Favoritos",
    link: "#",
    grid: [
      {
        title: "Finn Golden Tavern",
        img: "img-gridH-1",
        link: "#"
      },
      {
        title: "Finn Golden Tavern",
        img: "img-gridH-2",
        link: "#"
      },
      {
        title: "Finn Golden Tavern",
        img: "img-gridH-3",
        link: "#"
      },
      {
        title: "Finn Golden Tavern",
        img: "img-gridH-4",
        link: "#"
      },
      {
        title: "Finn Golden Tavern",
        img: "img-gridH-5",
        link: "#"
      },
      {
        title: "Finn Golden Tavern",
        img: "img-gridH-6",
        link: "#"
      },
      {
        title: "Finn Golden Tavern",
        img: "img-gridH-7",
        link: "#"
      },
      {
        title: "Finn Golden Tavern",
        img: "img-gridH-8",
        link: "#"
      },
    ]
  }

const gridHalfRight =
  {
    icon: "icon-heart-white",
    title: "Tus Favoritos",
    link: "#",
    grid: [
      {
        title: "Finn Golden Tavern",
        img: "img-gridH-1",
        link: "#"
      },
      {
        title: "Finn Golden Tavern",
        img: "img-gridH-2",
        link: "#"
      },
      {
        title: "Finn Golden Tavern",
        img: "img-gridH-3",
        link: "#"
      },
      {
        title: "Finn Golden Tavern",
        img: "img-gridH-4",
        link: "#"
      },
      {
        title: "Finn Golden Tavern",
        img: "img-gridH-5",
        link: "#"
      },
      {
        title: "Finn Golden Tavern",
        img: "img-gridH-6",
        link: "#"
      },
      {
        title: "Finn Golden Tavern",
        img: "img-gridH-7",
        link: "#"
      },
      {
        title: "Finn Golden Tavern",
        img: "img-gridH-8",
        link: "#"
      },
    ]
  }

  const jackpotData = [
    {
      title: "Jackpot Giant",
      total: "987.654,32 €",
      img: "img-carousel-jackpot-1.png"
    },
    {
      title: "Jackpot Giant",
      total: "987.654,32 €",
      img: "img-carousel-jackpot-2.png"
    },
    {
      title: "Jackpot Giant",
      total: "987.654,32 €",
      img: "img-carousel-jackpot-3.png"
    },
    {
      title: "Jackpot Giant",
      total: "987.654,32 €",
      img: "img-carousel-jackpot-4.png"
    },
    {
      title: "Jackpot Giant",
      total: "987.654,32 €",
      img: "img-carousel-jackpot-1.png"
    },
    {
      title: "Jackpot Giant",
      total: "987.654,32 €",
      img: "img-carousel-jackpot-2.png"
    },
    {
      title: "Jackpot Giant",
      total: "987.654,32 €",
      img: "img-carousel-jackpot-3.png"
    }
  ]

  const betsData = [
    {
      img: "img-carousel-bets-1.jpg",
      partido: "Real Madrid - Mallorca",
      division: "La Liga",
      dia: "mié, 22 de septiembre",
      hora: "22:00h"
    },
    {
      img: "img-carousel-bets-2.jpg",
      partido: "F.C. Barcelona - Osasuna",
      division: "La Liga",
      dia: "mié, 22 de septiembre",
      hora: "22:00h"
    },
    {
      img: "img-carousel-bets-3.jpg",
      partido: "Rayo Vallecano - Sevilla",
      division: "La Liga",
      dia: "mié, 22 de septiembre",
      hora: "22:00h"
    },
    {
      img: "img-carousel-bets-4.jpg",
      partido: "Valencia - Bestis",
      division: "La Liga",
      dia: "mié, 22 de septiembre",
      hora: "22:00h"
    },
    {
      img: "img-carousel-bets-1.jpg",
      partido: "Real Madrid - Mallorca",
      division: "La Liga",
      dia: "mié, 22 de septiembre",
      hora: "22:00h"
    },
    {
      img: "img-carousel-bets-2.jpg",
      partido: "F.C. Barcelona - Osasuna",
      division: "La Liga",
      dia: "mié, 22 de septiembre",
      hora: "22:00h"
    },
    {
      img: "img-carousel-bets-3.jpg",
      partido: "Rayo Vallecano - Sevilla",
      division: "La Liga",
      dia: "mié, 22 de septiembre",
      hora: "22:00h"
    },
    {
      img: "img-carousel-bets-4.jpg",
      partido: "Valencia - Bestis",
      division: "La Liga",
      dia: "mié, 22 de septiembre",
      hora: "22:00h"
    }
  ]

  const rouletteData = [
    {
      img: "img-ruleta-2col-1.png",
      title: "Ruleta en vivo",
      subtitle: "En nuestra web pueden acceder al mayor catálogo de ruletas en vivo del momento.",
      body: "En ellas, contarás con crupiers las 24 horas del día con un chat al alcance de tu mano para comunicarte con ellos."
    },
    {
      img: "img-ruleta-2col-2.png",
      title: "Juegos de mesa",
      subtitle: "En CasinoBarcelona.es te ofrecemos juegos de casino online desde los más tradicionales, hasta los más innovadores.",
      body: "Nuestro objetivo no es otro que el de darte la mejor oferta posible para que siempre tengas opciones para elegir lo que más te guste."
    }
  ]
%>

<%- include ('layout/head', {title: "Home" , css: "home", header: "has-header" }) %>

<%- include ('modules/deposit') %>

<main class="pageContainer">

  <%- include ('layout/header', { mode: ""}) %>

  <main class="has-header">

    <%- include ('modules/banner-w-carousel', { data: carouselData }) %>

    <%- include ('modules/search-bar-home') %>

    <section class="grids__container">

    <%- include ('modules/grid-half', {data: gridHalfLeft}) %>

    <%- include ('modules/grid-half', {data: gridHalfRight}) %>

    </section>

    <%- include ('modules/icons-red') %>

    <%- include ('modules/grid-full', { data: "gridFullA"}) %>

    <%- include ('modules/grid-full', { data: "gridFullB"}) %>

    <%- include ('modules/carousel-jackpot', { data: jackpotData }) %>

    <%- include ('modules/image-text') %>

    <%- include ('modules/carousel-bets', { data: betsData }) %>

    <%- include ('modules/grid-roulette', { data: rouletteData }) %>

    <%- include ('modules/text-block') %>

    <%- include ('layout/footer') %>

  </main>

</main>

<%- include ('layout/scripts', { script: 'home' }) %>