<%- include ('layout/head', {title: "Landing Afiliados" , css: "landing-affiliates" }) %>



<main class="pageContainer">

  <%- include ('layout/header', { mode: ""}) %>

  <main class="has-header">

    <%- include ('modules/banner-landingA') %>

    <%- include ('modules/steps-landingA') %>

    <%- include ('modules/grid-landingA') %>

    <%- include ('modules/logos-landingA') %>

    <%- include ('modules/cta-landingA') %>

    <%- include ('modules/background-landingA') %>

    <%- include ('modules/address-landingA') %>

    <%- include ('layout/footer') %>

  </main>

</main>

<%- include ('modules/mpu') %>
<%- include ('layout/scripts', { script: 'landingA', screen: 'casino' }) %>