<%
const carouselData = [
	{
		logo     : "img-banner-poker-satelite-logo.png",
		btnLabel : "Slots Playtech",
		btnHref  : "#"
	},
	{
		logo     : "img-banner-poker-satelite-logo.png",
		btnLabel : "Slots Playtech",
		btnHref  : "#"
	},
	{
		logo     : "img-banner-poker-satelite-logo.png",
		btnLabel : "Slots Playtech",
		btnHref  : "#"
	},
	{
		logo     : "img-banner-poker-satelite-logo.png",
		btnLabel : "Slots Playtech",
		btnHref  : "#"
	},
	{
		logo     : "img-banner-poker-satelite-logo.png",
		btnLabel : "Slots Playtech",
		btnHref  : "#"
	},
	{
		logo     : "img-banner-poker-satelite-logo.png",
		btnLabel : "Slots Playtech",
		btnHref  : "#"
	},
	{
		logo     : "img-banner-poker-satelite-logo.png",
		btnLabel : "Slots Playtech",
		btnHref  : "#"
	},
	{
		logo     : "img-banner-poker-satelite-logo.png",
		btnLabel : "Slots Playtech",
		btnHref  : "#"
	},
	{
		logo     : "img-banner-poker-satelite-logo.png",
		btnLabel : "Slots Playtech",
		btnHref  : "#"
	},
	{
		logo     : "img-banner-poker-satelite-logo.png",
		btnLabel : "Slots Playtech",
		btnHref  : "#"
	},
]

const themesData = [
	{
		img      : "img-landing-seo-themes-classic-slot.png",
		title    : "Slots clásicas",
		btnLabel : "¡JUEGA AHORA!",
		btnHref  : "#"
	},
	{
		img      : "img-landing-seo-themes-faraon.png",
		title    : "Slots de Faraón",
		btnLabel : "¡JUEGA AHORA!",
		btnHref  : "#"
	},
	{
		img      : "img-landing-seo-themes-gnomo.png",
		title    : "Slots de Gnomos",
		btnLabel : "¡JUEGA AHORA!",
		btnHref  : "#"
	},
	{
		img      : "img-landing-seo-themes-pirates.png",
		title    : "Slots de Piratas",
		btnLabel : "¡JUEGA AHORA!",
		btnHref  : "#"
	},
	{
		img      : "img-landing-seo-themes-vikings.png",
		title    : "Slots de Vikingos",
		btnLabel : "¡JUEGA AHORA!",
		btnHref  : "#"
	},
	{
		img      : "img-landing-seo-themes-zeus.png",
		title    : "Slots de Zeus",
		btnLabel : "¡JUEGA AHORA!",
		btnHref  : "#"
	},
]

const typesData = [
	{
		img      : "img-landing-seo-types-videopoker.png",
		title    : "Slots VideoPoker",
		btnLabel : "¡JUEGA AHORA!",
		btnHref  : "#"
	},
	{
		img      : "img-landing-seo-types-5tambores.png",
		title    : "Slots con 5 tambores",
		btnLabel : "¡JUEGA AHORA!",
		btnHref  : "#"
	},
	{
		img      : "img-landing-seo-types-freespins.png",
		title    : "Slots con Freespins",
		btnLabel : "¡JUEGA AHORA!",
		btnHref  : "#"
	},
	{
		img      : "img-landing-seo-types-jackpot.png",
		title    : "Slots con Jackpots",
		btnLabel : "¡JUEGA AHORA!",
		btnHref  : "#"
	},
	{
		img      : "img-landing-seo-types-megaways.png",
		title    : "Slots Megaways",
		btnLabel : "¡JUEGA AHORA!",
		btnHref  : "#"
	},
	{
		img      : "img-landing-seo-types-videobingo.png",
		title    : "Slots de VideoBingo",
		btnLabel : "¡JUEGA AHORA!",
		btnHref  : "#"
	},
	{
		img      : "img-landing-seo-types-news.png",
		title    : "Slots Nuevas",
		btnLabel : "¡JUEGA AHORA!",
		btnHref  : "#"
	},
	{
		img      : "img-landing-seo-types-zeus.png",
		title    : "Slots de Zeus",
		btnLabel : "¡JUEGA AHORA!",
		btnHref  : "#"
	},
]
%>

<%- include ('layout/head', {title: 'Landing SEO' , css: 'landing-seo'}) %>

<%- include ('modules/deposit') %>

<main class="pageContainer">

	<%- include ('layout/header', { mode: ''}) %>

	<main class="has-header">

		<%- include ('modules/banner-landing-seo') %>

		<div class="landingSEO__gridFull">
			<div class="landingSEO__gridFull-inner">
				<%- include ('modules/grid-full', { data: "gridFullSeo"}) %>
			</div>
		</div>

		<%- include ('modules/carousel-landing-seo', { data: carouselData }) %>

		<%- include ('modules/landing-seo-themes', { data:  themesData }) %>

		<%- include ('modules/landing-seo-types', { data: typesData }) %>

		<%- include ('layout/footer') %>

	</main>

</main>


<%- include ('layout/scripts',  { script: 'landingSeo', screen: 'casino' }) %>