<%- include ('layout/head', {title: 'Landing SEO' , css: 'landing-seo'}) %>

<%- include ('modules/deposit') %>

<main class="pageContainer">

	<%- include ('layout/header', { mode: ''}) %>

	<main class="has-header">

		<%- include ('modules/banner-landing-seo') %>

		<%- include ('modules/grid-full', { data: "gridFullSeo"}) %>

		<section class="landing-seoContent">

			<%- // include ('modules/landing-seo-module-1') %>

			<%- // include ('modules/landing-seo-module-2') %>

			<%- // include ('modules/landing-seo-module-3') %>

			<%- // include ('modules/landing-seo-module-4') %>

		</section>

		<%- // include ('modules/landing-seo-contact') %>

		<%- include ('layout/footer') %>

	</main>

</main>


<%- include ('layout/scripts',  { script: 'landingSeo' }) %>


¿Cómo jugar?