<%
const carouselData = [
	{
		logo     : "/providers/global.png",
		btnLabel : "Slots Games Global",
		btnHref  : "/slots/microgaming-slots.html"
	},
	{
		logo     : "/providers/mga.png",
		btnLabel : "Slots MGA",
		btnHref  : "/slots/mga-slots.html"
	},
	{
		logo     : "/providers/netent.png",
		btnLabel : "Slots NetEnt",
		btnHref  : "/slots/netent-slots.html"
	},
	{
		logo     : "/providers/nextgen.png",
		btnLabel : "Slots NextGen",
		btnHref  : "/slots/nextgen-slots.html"
	},
	{
		logo     : "/providers/novomatic.png",
		btnLabel : "Slots Novomatic",
		btnHref  : "/slots/novomatic-slots.html"
	},
	{
		logo     : "/providers/playtech.png",
		btnLabel : "Slots Playtech",
		btnHref  : "/slots/playtech-slots.html"
	},
	{
		logo     : "/providers/pragmatic.png",
		btnLabel : "Slots Pragmatic Play",
		btnHref  : "/slots/pragmatic-play-slots.html"
	},
	{
		logo     : "/providers/thunderkick.png",
		btnLabel : "Slots Thunderkick",
		btnHref  : "/slots/thunderkick-slots.html"
	},
	{
		logo     : "/providers/yggdrasil.png",
		btnLabel : "Slots Yggdrasil",
		btnHref  : "/slots/yggdrasil-slots.html"
	},
]

const themesData = [
	{
		img      : "img-landing-seo-themes-classic-slot.png",
		title    : "Slots de Frutas",
		btnLabel : "¡JUEGA AHORA!",
		btnHref  : "#"
	},
	{
		img      : "img-landing-seo-themes-faraon.png",
		title    : "Slots de Faraón",
		btnLabel : "¡JUEGA AHORA!",
		btnHref  : "#"
	},
	{
		img      : "img-landing-seo-themes-gnomo.png",
		title    : "Slots de Gnomos",
		btnLabel : "¡JUEGA AHORA!",
		btnHref  : "#"
	},
	{
		img      : "img-landing-seo-themes-pirates.png",
		title    : "Slots de Piratas",
		btnLabel : "¡JUEGA AHORA!",
		btnHref  : "#"
	},
	{
		img      : "img-landing-seo-themes-vikings.png",
		title    : "Slots de Vikingos",
		btnLabel : "¡JUEGA AHORA!",
		btnHref  : "#"
	},
	{
		img      : "img-landing-seo-themes-zeus.png",
		title    : "Slots de Zeus",
		btnLabel : "¡JUEGA AHORA!",
		btnHref  : "#"
	},
]

const typesData = [
	{
		img      : "img-landing-seo-types-videopoker.png",
		title    : "Slots VideoPoker",
		btnLabel : "¡JUEGA AHORA!",
		btnHref  : "#"
	},
	{
		img      : "img-landing-seo-types-5tambores.png",
		title    : "Slots con 5 tambores",
		btnLabel : "¡JUEGA AHORA!",
		btnHref  : "#"
	},
	{
		img      : "img-landing-seo-types-freespins.png",
		title    : "Slots con Freespins",
		btnLabel : "¡JUEGA AHORA!",
		btnHref  : "#"
	},
	{
		img      : "img-landing-seo-types-jackpot.png",
		title    : "Slots con Jackpots",
		btnLabel : "¡JUEGA AHORA!",
		btnHref  : "#"
	},
	{
		img      : "img-landing-seo-types-megaways.png",
		title    : "Slots Megaways",
		btnLabel : "¡JUEGA AHORA!",
		btnHref  : "#"
	},
	{
		img      : "img-landing-seo-types-videobingo.png",
		title    : "Slots de VideoBingo",
		btnLabel : "¡JUEGA AHORA!",
		btnHref  : "#"
	},
	{
		img      : "img-landing-seo-types-news.png",
		title    : "Slots Nuevas",
		btnLabel : "¡JUEGA AHORA!",
		btnHref  : "#"
	},
	{
		img      : "img-landing-seo-types-classic-slot.png",
		title    : "Slots Clásicas",
		btnLabel : "¡JUEGA AHORA!",
		btnHref  : "#"
	},
]
%>

<%- include ('layout/head', {title: 'Landing SEO' , css: 'landingSeo'}) %>



<main class="pageContainer">

	<%- include ('layout/header', { mode: ''}) %>

	<main class="has-header">

		<%- include ('modules/banner-landing-seo') %>

		<div class="landingSEO__gridFull">
			<div class="landingSEO__gridFull-inner">
				<section class="gridFull gridFullSeo">
					<div class="headerModule">
						<div class="headerModule-title">
							<img src="img/icons/icon-star-corp.svg" alt="">
							<p class="u-f--h2 u-w--bold">Video Bingo</p>
						</div>
						<a href="#" class="headerModule-link redCta">
							<span>VER TODOS</span>
							<img src="img/icons/icon-arrow-circle-red.svg" alt="">
						</a>
					</div>
					<div class="splide" data-order="3">
						<div class="splide__gradient"></div>
						<div class="splide__arrows splideArrows--right">
							<button class="splide__arrow splide__arrow--prev">
								<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
									<path id="indicator-left__grey-circle__big" d="M28,14A14,14,0,1,0,14,28,14,14,0,0,0,28,14ZM10.58,21.42a2,2,0,0,1-.012-2.828l.012-.012,4.24-4.22a.5.5,0,0,0,.013-.707l-.013-.013L10.58,9.42a2.008,2.008,0,0,1,2.84-2.84l6,6a2,2,0,0,1,.012,2.828l-.012.012-6,6a2,2,0,0,1-2.828.012Z" fill="#8e9296" />
								</svg>
		
							</button>
							<button class="splide__arrow splide__arrow--next">
								<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
									<path id="indicator-left__grey-circle__big" d="M28,14A14,14,0,1,0,14,28,14,14,0,0,0,28,14ZM10.58,21.42a2,2,0,0,1-.012-2.828l.012-.012,4.24-4.22a.5.5,0,0,0,.013-.707l-.013-.013L10.58,9.42a2.008,2.008,0,0,1,2.84-2.84l6,6a2,2,0,0,1,.012,2.828l-.012.012-6,6a2,2,0,0,1-2.828.012Z" fill="#8e9296" />
								</svg>
							</button>
						</div>
						<div class="splide__track">
							<div class="splide__list lobby-api" data-filters='{ "type.name": "Videobingo" }'></div>
						</div>
					</div>
				</section>
			</div>
		</div>
		<template id="tpl-lobby-item">
			<div class="item splide__slide" data-game-id="">
				<img src="" class="item__image" alt="">
				<div class="gridHover">
					<a href="#" class="gridHover__btn btn__red btn__red--glow">
						<span>¡JUEGA!</span>
						<img src="img/icons/icon-play-white.svg" alt="">
					</a>
					<div></div>
				</div>
			</div>
		</template>

		<%- include ('modules/carousel-landing-seo', { data: carouselData }) %>

		<%- include ('modules/landing-seo-themes', { data:  themesData }) %>

		<%- include ('modules/landing-seo-types', { data: typesData }) %>
   <section class="textBlock">
 
    <h2>Jugar al bingo online</h2>
<p>Estamos convencidos de que casi todos hemos visto jugar al bingo alguna vez a nuestros familiares y amigos. Ahora, jugar al bingo online multiplica las opciones de un juego en el que el azar es el gran protagonista. No pierdas de vista en ning&uacute;n momento esta cuesti&oacute;n y juega siempre con responsabilidad.</p>
<p>El juego de bingo online est&aacute; al alcance de tu mano tanto desde tu ordenador como desde el dispositivo m&oacute;vil que prefieras utilizar. Como veremos, podr&aacute;s localizar el juego de bingo que m&aacute;s te guste de una manera r&aacute;pida y sencilla en nuestra web o bien disfrutar del que prefieras en tu m&oacute;vil o Tablet con las m&aacute;ximas prestaciones y calidad est&eacute;s donde est&eacute;s.</p>
<h3>&iquest;C&oacute;mo se juega al bingo?</h3>
<p>Jugar al video bingo es muy sencillo y, para muchos, puede resultar incluso m&aacute;s divertido que hacerlo al bingo tradicional. La gran diferencia entre ellos es que no hay botes acumulados en el bingo online. Cada usuario juega una partida distinta y los premios que se pueden alcanzar dependen por completo de las apuestas que haga, aunque haya m&aacute;s jugadores al mismo tiempo.</p>
<p>Para saber c&oacute;mo se juega al bingo online es preciso recordar que el n&uacute;mero de bolas es variable (entre 60 y 30). El jugador deber&aacute; ir tachando de sus cartones los n&uacute;meros que vayan apareciendo y se podr&aacute; subir o bajar la apuesta en el momento que se desee. Para lograr premio, se debe completar el cart&oacute;n entero, aunque tambi&eacute;n se gana logrando una l&iacute;nea, una columna o una diagonal. Adem&aacute;s, los bingos online permiten obtener bolas extra para aumentar las posibilidades de alcanzar alg&uacute;n premio.</p>
<h2>El video bingo que estabas esperando</h2>
<p>En Casino Barcelona queremos que disfrutes del video bingo de la mejor manera posible. En nuestra oferta de <a href="https://www.casinobarcelona.es/slots.html" target="_blank">slots</a> ya puedes encontrar decenas de juegos de esta modalidad, con los dise&ntilde;os y tem&aacute;ticas m&aacute;s variados. Para encontrarlos, no dudes en usar el filtro que hallar&aacute;s en nuestra secci&oacute;n de Slots. En &eacute;l, todo cuanto debes hacer es seleccionar la pesta&ntilde;a &ldquo;Tipos&rdquo; y ser&aacute; ah&iacute; donde aparecer&aacute; el espacio dedicado a los video bingos. Por supuesto, tambi&eacute;n puedes acceder a ellos desde esta misma p&aacute;gina.</p>
<p>Dentro de cada uno de ellos podr&aacute;s conocer sus detalles m&aacute;s relevantes gracias a la detallada descripci&oacute;n que te ofrecemos. Su proveedor, su n&uacute;mero de cartones, su tem&aacute;tica y sus funciones m&aacute;s destacadas son elementos claves que puedes conocer en estas breves l&iacute;neas. Elige el video bingo online que m&aacute;s te apetezca y empieza a jugar si lo deseas.</p>
<h2>Bingo online en Espa&ntilde;a</h2>
<p>El bingo online se ha hecho muy popular en Espa&ntilde;a gracias a la enorme tradici&oacute;n que tiene este juego en el pa&iacute;s. Su llegada al casino online ha hecho que un juego muy com&uacute;n en las familias espa&ntilde;olas haya dado un salto de calidad enorme, con mejores gr&aacute;ficos, tem&aacute;ticas de todo tipo y todo lo necesario para ofrecer una experiencia de lo m&aacute;s inmersiva a los usuarios.</p>
<p>El arraigo popular del bingo online espa&ntilde;ol ha tenido su reflejo en los casinos online, pero tambi&eacute;n en otros actores del sector. Nos referimos a los proveedores de juegos espa&ntilde;oles, que se han lanzado con &eacute;xito a la creaci&oacute;n de este tipo de juegos. El m&aacute;s claro ejemplo de esto es MGA, el proveedor de video bingos m&aacute;s destacado de Espa&ntilde;a y de cuya creatividad puedes disfrutar en decenas de video bingos online presentes en el men&uacute; de Casino Barcelona.</p>
<h2>Conoce el mejor bingo online</h2>
<p>Decidir cu&aacute;l es el mejor bingo online es algo muy personal, pero ya sabes que la variedad es una de las cualidades principales de los video bingos. Podr&aacute;s jugar al bingo en Internet en su modalidad de 60 bolas, una opci&oacute;n en la que hay 15 casillas, distribuidas en 3 filas y 5 columnas. Maya Bingo, Circus Bingo o Mariachis son tan solo algunos ejemplos de juegos llenos de opciones interesantes como los propios comodines. Otra opci&oacute;n muy popular son los bingos de 30 bolas que puedes encontrar tambi&eacute;n en versi&oacute;n r&aacute;pida y que pueden recordarte m&aacute;s a&uacute;n al bingo online real.</p>
<p>Muchas de las opciones del mejor bingo online que te damos en Casino Barcelona aparecen tambi&eacute;n con rondas de bonificaci&oacute;n. Suelen hacerlo en forma de minijuegos en los que podr&aacute;s lograr m&aacute;s cr&eacute;ditos sin costes adicionales. Bingos como Muertitos o Beach Bingo te los ofrecen para que a la diversi&oacute;n del mejor video bingo online le sumes estas magn&iacute;ficas opciones de mejorar tus recompensas.</p>
</section>
		<%- include ('layout/footer') %>

	</main>

</main>


<%- include ('modules/mpu') %>
<%- include ('layout/scripts',  { script: 'landingSeo', screen: 'casino' }) %>
