<%
const activeTab =
	{
		home: '',
		pc: '',
		mobile: '',
		tour: '',
		how: '',
		online: 'active'
	}
%>

<%- include ('layout/head', {title: 'Poker' , css: 'poker', header: 'has-header' }) %>



<main class="pageContainer">

	<%- include ('layout/header', { mode: ''}) %>

	<main class="has-header">

		<%- include ('modules/banner-poker-satelites') %>

		<%- include ('objects/menu-poker', { data: activeTab }) %>

		<section class="poker">

			<%- include ('modules/poker-satelites-online') %>

			<%- include ('modules/text-block') %>

			<%- include ('layout/footer') %>

		</section>

	</main>

</main>


<%- include ('modules/mpu') %>
<%- include ('layout/scripts',  { script: 'poker', screen: 'casino' }) %>