<%
const bannerData =
  {
    img: "poker",
    icon: "banner-poker",
    title: "¡Bienvenido al Póker!",
    breadcrumb: "Poker"
  }
  const activeTab =
  {
    home: "",
    pc: "",
    mobile: "",
    tour: "is-active"
  }

%>

<%- include ('layout/head', {title: "Poker" , css: "poker" }) %>

<%- include ('modules/deposit') %>

<main class="pageContainer">

  <%- include ('layout/header', { mode: ""}) %>

  <section class="has-header">

    <%- include ('modules/banner', { data: bannerData }) %>

    <%- include ('objects/menu-poker', { data: activeTab }) %>

    <section class="poker">

      <%- include ('modules/txt-2Cols') %>

      <%- include ('modules/grid-poker-torneos') %>

    </section>

    <%- include ('modules/text-block') %>

    <%- include ('layout/footer') %>

  </section>

</main>

<%- include ('layout/scripts', { script: 'poker' }) %>
