<%
const bannerData =
  {
    img: "poker",
    icon: "banner-poker",
    title: "¡Bienvenido al Póker!",
    breadcrumb: "Poker"
  }


%>

<%- include ('layout/head', {title: "Poker" , css: "poker", header: "has-header" }) %>

<%- include ('layout/header') %>

<%- include ('modules/banner', { data: bannerData }) %>

<%- include ('objects/menu-poker') %>

<main class="poker">

    <section class="poker__home poker__section is-on">

        <%- include ('modules/grid-download') %>

        <%- include ('modules/img-txt-torneos') %>

        <%- include ('modules/one-col') %>

    </section>

    <section class="poker__pc poker__section">

      <%- include ('modules/grid-pc') %>

    </section>

    <section class="poker__mobile poker__section">

      <%- include ('modules/grid-mobile') %>

    </section>

    <section class="poker__tour poker__section">

      <%- include ('modules/grid-poker') %>

    </section>

</main>

<%- include ('modules/text-block') %>

<%- include ('layout/footer') %>

<%- include ('layout/scripts', { script: 'poker' }) %>

