<%
const bannerData =
	{
		img: "poker",
		icon: "banner-poker",
		title: "¡Bienvenido al Póker!",
		bc: {
      first: "Casino de Barcelona",
      second: undefined,
      third: undefined,
      current: "Poker"
    }
	}
	const activeTab =
  {
    home: "active",
    pc: "",
    mobile: "",
    tour: "",
    howTo: "",
    online: ""
  }

%>

<%- include ('layout/head', {title: "Poker" , css: "poker" }) %>



<main class="pageContainer">

	<%- include ('layout/header', { mode: ""}) %>

	<section class="has-header">

		<%- include ('modules/banner', { data: bannerData }) %>

		<%- include ('objects/menu-poker', { data: activeTab }) %>

		<section class="poker">

			<%- include ('modules/block-poker-home') %>

			<%- include ('modules/img-txt-torneos') %>

			<%- include ('modules/one-col') %>

		</section>

		<%- include ('modules/text-block') %>

		<%- include ('layout/footer') %>

	</section>

</main>

<%- include ('modules/mpu') %>
<%- include ('layout/scripts', { script: 'poker', screen: 'casino' }) %>
