<%- include ('layout/head', { title: "Promocion" , css: "promocion" }) %>

<%- include ('modules/deposit') %>

<main class="pageContainer">

    <%- include ('layout/header', { mode: ""}) %>

    <section class="has-header">

        <%- include ('modules/block-promo') %>

        <%- include ('modules/countdown') %>

        <%- include ('modules/accordion') %>

        <%- include ('modules/text-block') %>

        <%- include ('layout/footer') %>

    </section>

</main>

<%- include ('layout/scripts', { script: 'promocion' }) %>
