<%
const breadcrumb =
  {
    first: "Casino Barcelona",
    second: undefined,
    third: undefined,
    current: "Promociones"
  }
%>

<%- include ('layout/head', {title: "Nuestras Promociones" , css: "promociones" }) %>



<main class="pageContainer">

  <%- include ('layout/header', { mode: ""}) %>

  <section class="has-header">

    <%- include ('modules/header-promo', { bc: breadcrumb }) %>

    <%- include ('modules/finder-promo')%>

    <%- include ('modules/carousel-promo')%>

    <%- include ('modules/text-block') %>

    <%- include ('layout/footer') %>

  </section>

</main>

<%- include ('modules/mpu') %>
<%- include ('layout/scripts', { script: 'promociones', screen: 'casino' }) %>