<%
const breadcrumb =
  {
    first: "Casino de Barcelona",
    second: "Promociones",
    third: undefined,
    current: "La estela del campeón"
  }
%>

<%- include ('layout/head', { title: "Promocion" , css: "promocion" }) %>

<main class="pageContainer">

    <%- include ('layout/header', { mode: ""}) %>

    <section class="has-header">

        <%- include ('modules/block-promo', {bc: breadcrumb}) %>

        <%- include ('modules/countdown') %>

        <%- include ('modules/accordion') %>

        <%- include ('modules/text-block') %>

        <%- include ('layout/footer') %>

    </section>

</main>

<%- include ('modules/mpu') %>
<%- include ('layout/scripts', { script: 'promocion', screen: 'casino' }) %>
