<%- include ('layout/head', { title: "Promocion" , css: "promocion" }) %>

<%- include ('layout/header') %>

<main class="has-header">

    <%- include ('modules/block-promo') %>

    <%- include ('modules/countdown') %>

    <%- include ('modules/accordion') %>

    <%- include ('modules/text-block') %>

    <%- include ('layout/footer') %>

</main>

<%- include ('layout/scripts', { script: 'promocion' }) %>
