<%
const banner =
  {
    img: "casino",
    icon: "banner-casino",
    title: "Juegos de Casino",
    breadcrumb: "Slots"
  }
%>

<%- include ('layout/head', {title: "Nuestras Promociones" , css: "promociones", header: "has-header" }) %>

<%- include ('layout/header', { mode: ""}) %>

<main class="has-header">

  <%- include ('modules/header-promo') %>

  <%- include ('modules/finder-promo')%>

  <%- include ('modules/carousel-promo')%>

  <%- include ('modules/text-block') %>

  <%- include ('layout/footer') %>

</main>

<%- include ('layout/scripts', { script: 'promociones' }) %>