<%- include ('layout/head', { title: "RTP" , css: "generic" }) %>



    <main class="pageContainer">

        <%- include ('layout/header', { mode: "" }) %>

            <section class="has-header">

                <section class="generic faq">
                    <h1>RTP Slots</h1>

                    <div class="faq__accordion" id="accordion">
                        <div class="faq__accordion-item" data-accordion>
                            <div class="head" data-accordion-trigger>
                                <h4 class="panel-title">L&iacute;mites de apuesta y RTP Te&oacute;rico</h4>
                                </h4>
                                <img src="img/icons/icon-arrow-accor.svg" alt="" class="accorArrow accordion__arrow">
                            </div>
                            <div class="body body--fullwidth" data-accordion-content>
                                <div class="body__wrapper">
                                    <div class="table__wrapper">
                                        <table class="table table-stripped table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>Slot</th>
                                                    <th>Apuesta&nbsp; m&iacute;nima</th>
                                                    <th>Apuesta m&aacute;xima</th>
                                                    <th>RTP</th>
                                                </tr>
                                            </thead>
                                            <tbody id="rtp-content"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="faq__accordion" id="accordion">
                            <div class="faq__accordion-item" data-accordion>
                                <div class="head" data-accordion-trigger>
                                    <h4 class="panel-title">RTP Real</h4>
                                    </h4>
                                    <img src="img/icons/icon-arrow-accor.svg" alt="" class="accorArrow accordion__arrow">
                                </div>
                                <div class="body body--fullwidth" data-accordion-content>
                                    <div class="body__wrapper">
                                        <div id="tablecontainer" class="table__wrapper">
                                            <table class="table table-stripped table-responsive">
                                                <thead>
                                                    <tr id="rtp-real-head"></tr>
                                                </thead>
                                                <tbody id="rtp-real-content">
                                                    <tr class="rtp-loading">
                                                        <td>Cargando...</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="faq__accordion-item" data-accordion>
                                <div class="head" data-accordion-trigger>
                                    <h4 class="panel-title">Definiciones RTP slots</h4>
                                    <img src="img/icons/icon-arrow-accor.svg" alt="" class="accorArrow accordion__arrow">
                                </div>
                                <div class="body body--fullwidth" data-accordion-content>
                                    <div class="body__wrapper">
                                        <ul>
                                            <li>
                                                RTP real: Porcentaje real de devoluci칩n de premios sobre cantidades jugadas
                                                de cada uno de los
                                                juegos en
                                                cada uno de los seis meses precedentes, quedando excluidos los premios
                                                derivados de botes.
                                            </li>
                                            <li>
                                                RTP te칩rico: Expectativa matem치tica de retorno del juego, calculada sobre el
                                                plazo de un a침o.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <%- include ('layout/footer') %>

            </section>

    </main>

    <%- include ('modules/mpu') %>
        <script type="module" src="js/rtp.js"></script>
        <%- include ('layout/scripts', { script: 'generic' , screen: 'casino' }) %>