<%
const bannerData =
  {
    img: "ruleta",
    icon: "banner-ruleta",
    title: "Ruleta en vivo",
    breadcrumb: "Ruleta en vivo"
  }
%>

<%- include ('layout/head', {title: "Ruleta en Vivo" , css: "ruleta", header: "has-header" }) %>

<%- include ('layout/header') %>

<main class="has-header">

  <%- include ('modules/banner', { data: bannerData }) %>

  <%- include ('modules/finder-ruleta') %>

  <%- include ('modules/text-block') %>

  <%- include ('layout/footer') %>

</main>

<%- include ('layout/scripts', { script: 'ruleta' }) %>