<%- include ('layout/head', { title: "Slots Game" , css: "screen-game" }) %>

<%- include ('modules/deposit') %>

<main class="pageContainer">

    <%- include ('layout/header', { mode: ""}) %>

    <section class="screenGame has-header">

        <img src="img/images/img-screen.jpg" alt="">

        <div class="screenGame__bar">
            <div class="screenGame__item">
                <p>A:</p>
                <p>0,00€</p>
            </div>
            <div class="screenGame__item">
                <p>P:</p>
                <p>0,00€</p>
            </div>
            <div class="screenGame__item">
                <p>R:</p>
                <p>0,00€</p>
            </div>
            <div class="screenGame__item">
                <p>BS:</p>
                <p>0,00€</p>
            </div>
            <div class="screenGame__item">
                <p>T:</p>
                <p>0,00€</p>
            </div>
        </div>

        <%- include ('layout/footer') %>

    </section>

</main>

<%- include ('layout/scripts', { script: 'screens' }) %>