<%- include ('layout/head', { title: "Slots Screen" , css: "screens", header: "has-header" }) %>

<%- include ('layout/header') %>

<%- include ('modules/screens-bar') %>

<main class="screens">
    <section class="screen">
        <img src="img/images/img-screen.jpg" alt="">
    </section>

    <%- include ('modules/aside-slots') %>
</main>

<%- include ('layout/footer') %>

<%- include ('layout/scripts', { script: 'home' }) %>