<%
const bannerData =
  {
    img: "slot",
    icon: "banner-slots",
    title: "Nuestras Slots",
    breadcrumb: "Slots"
  }
%>

<%- include ('layout/head', {title: "Slots All" , css: "slots-all"}) %>

<%- include ('layout/header', { mode: ""}) %>

<main class="has-header">

  <%- include ('modules/banner', { data: bannerData }) %>

  <%- include ('modules/finder-slotsAll') %>

  <%- include ('layout/footer') %>

</main>

<%- include ('layout/scripts', { script: 'slotsAll' }) %>