<%- include ('layout/head', { title: "Slots Screen" , css: "screens" }) %>



<main class="pageContainer">

    <%- include ('layout/header', { mode: ""}) %>

    <section class="has-header">

        <%- include ('objects/screens-bar') %>

        <section class="screens aside-open">
            <section class="screen screen--offline">
                <img class="screen__image" src="img/images/img-screen-brand.png" alt="">
                <div class="screen__btns">
                    <button class="btn__red btn__red--glow play-btn" data-opener="slotPlaytech" data-room-id="2005066" data-extra="&session=wfcdhwszycqbxwbohuhruuuenklzyhggdtynvftpvtctwfhrwd">
                        <span>¡Juega!</span>
                        <img src="img/icons/icon-play-white.svg" alt="">
                    </button>
                    <button class="btn__darkGrey demo-btn" data-opener="slotPlaytech" data-room-id="2005066" data-extra="">
                        <span>Pruébalo</span>
                    </button>
                </div>
            </section>
            <section class="screen screen--online">
                <div class="demo-bar">
                    <div class="demo-bar__message">Jugando en <a href="#" class="demo-bar__info-btn"> modo demo <img src="img/icons/icon-info-white.svg"></a></div>
                    <div class="demo-bar__actions">
                        <a href="/slots-screen" class="demo-bar__action demo-bar__action--real">Ir a real</a>
                    </div>
                    <div class="demo-bar__tooltip">No olvides que estás jugando al modo demostración de esta slot. La finalidad es que pruebes y averiguar si te gusta o no el juego, la temática o el margen de apuestas antes de jugar con dinero real. Con este modo, podrás jugar de forma gratuita, aprender a jugar o descubrir nuevos títulos sin tener que depositar tu dinero. Las reglas son las mismas que en el modo real, la única diferencia es el saldo y los premios (siendo ambos ficticios en este modo, al no utilizar el saldo de tu monedero real).
                        <div class="demo-bar__arrow" data-popper-arrow></div>
                    </div>
                </div>
                <iframe frameborder="0" hspace="0" vspace="0" marginheight="0" marginwidth="0"  width="100%" class="screen__iframe" id="gameIframe" allow="fullscreen" ></iframe>
            </section>

            <div class="headerScreen__breadcrumbs">
                <div class="headerScreen__breadcrumbs-content">
                    <a href="/">
                        <span>CASINO BARCELONA</span>
                    </a>
                    <svg xmlns="http://www.w3.org/2000/svg" width="5.414" height="9.017" viewBox="0 0 5.414 9.017">
                        <g id="icon-arrow-breadcrumb" transform="translate(1.414 1.414)">
                            <path id="Trazado_5068" data-name="Trazado 5068"
                            d="M0,0,2.928,2.928a.229.229,0,0,1,.01.323l-.01.01L0,6.189" fill="none" stroke="#fff"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                        </g>
                    </svg>
                    <a href="/slots">
                        <span>SLOTS</span>
                    </a>
                    <svg xmlns="http://www.w3.org/2000/svg" width="5.414" height="9.017" viewBox="0 0 5.414 9.017">
                        <g id="icon-arrow-breadcrumb" transform="translate(1.414 1.414)">
                            <path id="Trazado_5068" data-name="Trazado 5068"
                                d="M0,0,2.928,2.928a.229.229,0,0,1,.01.323l-.01.01L0,6.189" fill="none" stroke="#fff"
                                stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                        </g>
                    </svg>
                    <span>FINN GOLDEN TAVERN FINN GOLDEN TAVERN</span>
                </div>
            </div>

            <div class="headerScreen--bottom">
                <div class="headerScreen__title">
                    <p>Finn's: Golden Tavern</p>
                </div>
                <div class="headerScreen__btns">
                    <button class="btn__red btn__red--glow play-btn">
                        <span>¡Juega!</span>
                        <img src="img/icons/icon-play-white.svg" alt="">
                    </button>
                    <button class="btn__darkGrey demo-btn">
                        <span>Pruébalo</span>
                    </button>
                </div>
            </div>

            <%- include ('modules/aside-slots') %>
        </section>

        <%- include ('layout/footer') %>

    </section>

</main>


<%- include ('modules/mpu') %>
<%- include ('layout/scripts', { script: 'screens', screen: 'casino' }) %>