<%
const bannerData =
  {
    img: "slot",
    icon: "banner-slots",
    title: "Nuestras Slots",
    breadcrumb: "Slots"
  }

const gridHalfLeft =
  {
    icon: "icon-heart-white",
    title: "Tus Favoritos",
    link: "#",
    grid: [
      {
        title: "Finn Golden Tavern",
        img: "img-gridH-1",
        link: "#"
      },
      {
        title: "Finn Golden Tavern",
        img: "img-gridH-2",
        link: "#"
      },
      {
        title: "Finn Golden Tavern",
        img: "img-gridH-3",
        link: "#"
      },
      {
        title: "Finn Golden Tavern",
        img: "img-gridH-4",
        link: "#"
      },
      {
        title: "Finn Golden Tavern",
        img: "img-gridH-5",
        link: "#"
      },
      {
        title: "Finn Golden Tavern",
        img: "img-gridH-6",
        link: "#"
      },
      {
        title: "Finn Golden Tavern",
        img: "img-gridH-7",
        link: "#"
      },
      {
        title: "Finn Golden Tavern",
        img: "img-gridH-8",
        link: "#"
      },
    ]
  }

const gridHalfRight =
  {
    icon: "icon-heart-white",
    title: "Tus Favoritos",
    link: "#",
    grid: [
      {
        title: "Finn Golden Tavern",
        img: "img-gridH-1",
        link: "#"
      },
      {
        title: "Finn Golden Tavern",
        img: "img-gridH-2",
        link: "#"
      },
      {
        title: "Finn Golden Tavern",
        img: "img-gridH-3",
        link: "#"
      },
      {
        title: "Finn Golden Tavern",
        img: "img-gridH-4",
        link: "#"
      },
      {
        title: "Finn Golden Tavern",
        img: "img-gridH-5",
        link: "#"
      },
      {
        title: "Finn Golden Tavern",
        img: "img-gridH-6",
        link: "#"
      },
      {
        title: "Finn Golden Tavern",
        img: "img-gridH-7",
        link: "#"
      },
      {
        title: "Finn Golden Tavern",
        img: "img-gridH-8",
        link: "#"
      },
    ]
  }

  const jackpotData = [
    {
      title: "Jackpot Giant",
      total: "987.654,32 €",
      img: "img-carousel-jackpot-1.png"
    },
    {
      title: "Jackpot Giant",
      total: "987.654,32 €",
      img: "img-carousel-jackpot-2.png"
    },
    {
      title: "Jackpot Giant",
      total: "987.654,32 €",
      img: "img-carousel-jackpot-3.png"
    },
    {
      title: "Jackpot Giant",
      total: "987.654,32 €",
      img: "img-carousel-jackpot-4.png"
    },
    {
      title: "Jackpot Giant",
      total: "987.654,32 €",
      img: "img-carousel-jackpot-1.png"
    },
    {
      title: "Jackpot Giant",
      total: "987.654,32 €",
      img: "img-carousel-jackpot-2.png"
    },
    {
      title: "Jackpot Giant",
      total: "987.654,32 €",
      img: "img-carousel-jackpot-3.png"
    }
  ]
%>

<%- include ('layout/head', {title: "Slots" , css: "slots"}) %>

<%- include ('modules/deposit') %>

<main class="pageContainer">

  <%- include ('layout/header', { mode: ""}) %>

  <section class="has-header">

    <%- include ('modules/banner', { data: bannerData }) %>

    <%- include ('modules/search-bar-slots') %>

    <section class="grids__container">

      <%- include ('modules/grid-half', {data: gridHalfLeft}) %>

      <%- include ('modules/grid-half', {data: gridHalfRight}) %>

    </section>

    <%- include ('modules/grid-full', { data: "gridFullA"}) %>

    <%- include ('modules/carousel-jackpot', { data: jackpotData }) %>

    <%- include ('modules/grid-full', { data: "gridFullB" }) %>

    <%- include ('modules/grid-full', { data: "gridFullC" }) %>

    <div class="slotsBtn">
      <a href="/slots-all" class="btn__red btn__red--glow">
        <span>VER TODAS LAS SLOTS ONLINE</span>
        <img src="img/icons/icon-btn-arrow.svg" alt="">
      </a>
    </div>

    <%- include ('modules/text-block') %>

    <%- include ('layout/footer') %>

  </section>

</main>

<%- include ('layout/scripts', { script: 'slots' }) %>