<%- include ('layout/head', { title: "Slots Screen" , css: "screens" }) %>



<main class="pageContainer">

    <%- include ('layout/header', { mode: ""}) %>

    <section class="has-header">

        <%- include ('objects/screens-bar') %>

        <section class="screens">
            <section class="screen">
                <img src="img/images/img-screen.jpg" alt="">
            </section>

            <%- include ('modules/aside-slots') %>
        </section>

        <%- include ('layout/footer') %>

    </section>

</main>


<%- include ('modules/mpu') %>
<%- include ('layout/scripts', { script: 'screens', screen: 'casino' }) %>