<%- include ('layout/head', { title: "Slots Screen" , css: "screens", header: "has-header" }) %>

<%- include ('modules/deposit') %>

<main class="pageContainer">

    <%- include ('layout/header', { mode: ""}) %>

    <section class="has-header">

        <%- include ('objects/screens-bar') %>

        <section class="screens">
            <section class="screen">
                <img src="img/images/img-screen.jpg" alt="">
            </section>

            <%- include ('modules/aside-slots') %>
        </section>

        <%- include ('layout/footer') %>

    </section>

</main>


<%- include ('layout/scripts', { script: 'screens' }) %>