<%
    let nav = {
        data: '',
        docs: '',
        wallet: 'nav-active',
        hist: '',
        pref: '',
        supp: '',
    }
%>

<%- include ('layout/head', {title: "Mi cartera" , css: "user" }) %>



<main class="pageContainer">

    <%- include ('layout/header', { mode: "header--light"}) %>

    <section class="userScreen has-header">

        <%- include ('objects/user/user-menu', { nav: nav }) %>

        <section class="userContent">
            <div class="userContent__block">
                <%- include ('objects/user/wallet') %>
            </div>
        </section>
    </section>

</main>

<%- include ('modules/mpu') %>
<%- include ('layout/scripts', { script: 'wallet', screen: 'user' })%>
