<ul class="gridFavorites container" data-ref="container">
	<% data.forEach( e=> { %>
		<li data-name="<%= e.name %>" class="gridFavorites__item mix <%= e.general %> <%= e.proveedor %> <%= e.tipo %> <%= e.apuesta %> <%= e.lineas %> <%= e.juego %>">
			<img class="gridFavorites__item-image" src="img/images/img-grid-<%= e.img %>.jpg" alt="">
			<img class="gridFavorites__item-close" src="img/icons/icon-close.svg" alt="">
			<%- include ('../components/hover') %>
		</li>
	<% }) %>
</ul>