<section class="gridRuleta">
    <% data.forEach( e => { %>
        <div class="gridRuleta__item card mix <%= e.crupier %> <%= e.proveedor %>" data-lobby-id="<%= e.id %>">
            <div class="card__img nuevo">
                <img class="card__img-bg" src="img/images/<%= e.imgBg %>" alt="">
                <img class="card__img-crupier" src="img/images/<%= e.imgCru %>" alt="">
            </div>
            <div class="card__content">
                <div class="card__content--top">
                    <div class="card__content-header">
                        <div class="card__title"><%= e.title %></div>
                        <div class="card__croupier">con Adriana</div>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" class="card__content-heart">
                        <g transform="translate(6.977 -2.109)">
                            <circle data-name="Elipse 3" cx="14" cy="14" r="14" transform="translate(-6.977 2.109)"
                                fill="#13171d" />
                            <path data-name="Trazado 99"
                                d="M13.856 14.015a4 4 0 0 0-2.839-2.829 4.168 4.168 0 0 0-3.828 1.289.25.25 0 0 1-.34 0 4.168 4.168 0 0 0-3.829-1.289 4 4 0 0 0-2.838 2.829 3.9 3.9 0 0 0 1 3.868L6.7 22.971a.51.51 0 0 0 .68 0l5.528-5.108a3.868 3.868 0 0 0 .948-3.848Z"
                                fill="#888a8e" />
                        </g>
                    </svg>
                </div>
                <div class="card__content--bottom">
                    <div class="ruletaResultWrapper">
                        <div class="ruletaResult ruletaResult--placeholder">-</div>
                        <div class="ruletaResult ruletaResult--placeholder">-</div>
                        <div class="ruletaResult ruletaResult--placeholder">-</div>
                        <div class="ruletaResult ruletaResult--placeholder">-</div>
                    </div>
                    <div class="ruletaDataWrapper">
                        <div class="ruletaData minbet d-none"><span>Desde </span><span class="minbet-value">0,20</span>€</div>
                        <div class="ruletaData users d-none"><img src="img/icons/icon-user-grey.svg" alt=""><span class="users-value">73</span></div>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>

</section>