<ul class="gridGames container" data-ref="container">
    <% data.forEach( e=> { %>
        <li data-name="<%= e.name %>" class="gridGames__item mix <%= e.general %> <%= e.proveedor %> <%= e.tipo %> <%= e.apuesta %> <%= e.lineas %> <%= e.juego %>">
            <img src="img/images/img-grid-<%= e.img %>.jpg" alt="">
            <%- include ('../components/hover') %>
            <div class="jackpot__container">1.547.568€</div>
        </li>
    <% }) %>
</ul>