<section class="menuPoker">

  <div class="menuPoker__wrapper">
    <a href="/poker-home" class="menuPoker__btn menuPoker-home <%= data.home %>">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24.5" viewBox="0 0 20 24.5">
        <g id="icon-poker-menu-1" transform="translate(-16.5 -3.375)" opacity="1">
          <rect id="Rectángulo_157" data-name="Rectángulo 157" width="18" height="22.5" rx="2"
            transform="translate(17.5 4.375)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="2" />
          <path id="Trazado_5200" data-name="Trazado 5200" d="M35,19.687a.375.375,0,0,1,.375.375"
            transform="translate(-13.5 -11.687)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="2" />
          <path id="Trazado_5201" data-name="Trazado 5201" d="M32.812,20.062a.375.375,0,0,1,.375-.375"
            transform="translate(-11.687 -11.687)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="2" />
          <path id="Trazado_5202" data-name="Trazado 5202" d="M33.187,22.25a.375.375,0,0,1-.375-.375"
            transform="translate(-11.687 -13.5)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="2" />
          <path id="Trazado_5203" data-name="Trazado 5203" d="M35.375,21.875A.375.375,0,0,1,35,22.25"
            transform="translate(-13.5 -13.5)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="2" />
          <path id="Trazado_5204" data-name="Trazado 5204" d="M105,115.937a.375.375,0,0,1,.375.375"
            transform="translate(-73.5 -93.438)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="2" />
          <path id="Trazado_5205" data-name="Trazado 5205" d="M102.812,116.312a.375.375,0,0,1,.375-.375"
            transform="translate(-71.688 -93.438)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="2" />
          <path id="Trazado_5206" data-name="Trazado 5206" d="M103.187,118.5a.375.375,0,0,1-.375-.375"
            transform="translate(-71.688 -95.25)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="2" />
          <path id="Trazado_5207" data-name="Trazado 5207" d="M105.375,118.125a.375.375,0,0,1-.375.375"
            transform="translate(-73.5 -95.25)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="2" />
          <path id="Trazado_5208" data-name="Trazado 5208"
            d="M56.25,48.459a.75.75,0,0,0-1.248,0l-2.376,3.334a.75.75,0,0,0,0,.832L55,55.959a.75.75,0,0,0,1.248,0l2.376-3.334a.75.75,0,0,0,0-.832Z"
            transform="translate(-29 -36.25)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="2" />
        </g>
      </svg>
      <span>Inicio</span>
      <img src="img/icons/icon-indicator.svg" alt="">
    </a>
    <a href="/poker-pc" class="menuPoker__btn menuPoker-pc <%= data.pc %>">
      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28.072" viewBox="0 0 28 28.072">
        <g id="icon-poker-menu-2" transform="translate(-27.571 -27.571)">
          <path id="Trazado_5474" data-name="Trazado 5474"
            d="M28.571,295.359a2,2,0,0,1,1.94-2.056H44.089a2,2,0,0,1,1.94,2.056v8.223a2,2,0,0,1-1.94,2.056H30.511a2,2,0,0,1-1.94-2.056Z"
            transform="translate(0 -255.441)" fill="none" stroke="#a0a2a4" stroke-linejoin="round" stroke-width="2" />
          <line id="Línea_208" data-name="Línea 208" y2="4.446" transform="translate(37.3 50.197)" fill="none"
            stroke="#a0a2a4" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
          <line id="Línea_209" data-name="Línea 209" x2="7.759" transform="translate(33.42 54.643)" fill="none"
            stroke="#a0a2a4" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
          <path id="Trazado_5475" data-name="Trazado 5475"
            d="M134.482,32.285V30.428a1.857,1.857,0,0,1,1.857-1.857h18.569a1.857,1.857,0,0,1,1.857,1.857v13a1.857,1.857,0,0,1-1.857,1.857h-1.857"
            transform="translate(-102.194 0)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="2" />
          <line id="Línea_210" data-name="Línea 210" x2="17.458" transform="translate(28.571 46.192)" fill="none"
            stroke="#a0a2a4" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
        </g>
      </svg>
      <span>En el PC</span>
      <img src="img/icons/icon-indicator.svg" alt="">
    </a>
    <a href="/poker-mobile" class="menuPoker__btn menuPoker-mobile <%= data.mobile %>">
      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28.599" viewBox="0 0 28 28.599">
        <g id="icon-poker-menu-3" transform="translate(-1174.571 353.428)" opacity="1">
          <path id="Trazado_5473" data-name="Trazado 5473"
            d="M131.354,32.292v-1.86a1.86,1.86,0,0,1,1.86-1.86h18.6a1.86,1.86,0,0,1,1.86,1.86v13.02a1.86,1.86,0,0,1-1.86,1.86h-7.44"
            transform="translate(1047.897 -381)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="2" />
          <rect id="Rectángulo_250" data-name="Rectángulo 250" width="11.386" height="17.078" rx="2"
            transform="translate(1175.571 -342.907)" fill="none" stroke="#a0a2a4" stroke-linejoin="round"
            stroke-width="2" />
          <line id="Línea_206" data-name="Línea 206" x2="11.386" transform="translate(1175.571 -330.143)" fill="none"
            stroke="#a0a2a4" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
          <line id="Línea_207" data-name="Línea 207" x2="1.017" transform="translate(1180.756 -339.768)" fill="none"
            stroke="#a0a2a4" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
        </g>
      </svg>
      <span>En el Móvil</span>
      <img src="img/icons/icon-indicator.svg" alt="">
    </a>
    <a href="/poker-tournament" class="menuPoker__btn menuPoker-tour <%= data.tour %>">
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
        <g id="icon-poker-menu-4" transform="translate(-27.571 -27.571)" opacity="1">
          <line id="Línea_211" data-name="Línea 211" y2="7.385" transform="translate(40.571 45.186)" fill="none"
            stroke="#a0a2a4" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
          <line id="Línea_212" data-name="Línea 212" x2="12.923" transform="translate(34.109 52.571)" fill="none"
            stroke="#a0a2a4" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
          <path id="Trazado_5476" data-name="Trazado 5476"
            d="M34.109,85.714H28.571v3.692a5.538,5.538,0,0,0,5.538,5.538Z" transform="translate(0 -55.297)" fill="none"
            stroke="#a0a2a4" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
          <path id="Trazado_5477" data-name="Trazado 5477" d="M600,85.714h5.538v3.692A5.538,5.538,0,0,1,600,94.945Z"
            transform="translate(-552.967 -55.297)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="2" />
          <path id="Trazado_5478" data-name="Trazado 5478" d="M200,28.571V38.725a6.462,6.462,0,1,0,12.923,0V28.571Z"
            transform="translate(-165.891)" fill="none" stroke="#a0a2a4" stroke-linecap="round" stroke-linejoin="round"
            stroke-width="2" />
        </g>
      </svg>
      <span>Torneos</span>
      <img src="img/icons/icon-indicator.svg" alt="">
    </a>
    <a href="" class="menuPoker__btn menuPoker-home">
      <svg xmlns="http://www.w3.org/2000/svg" width="28.039" height="28.031" viewBox="0 0 28.039 28.031">
        <g id="icon-poker-menu-5" transform="translate(0.286 0.286)" opacity="1">
          <path id="Trazado_5469" data-name="Trazado 5469"
            d="M41.566,28.571A12.995,12.995,0,0,0,30.75,48.763l-2.179,5.8,7.3-1.319a12.995,12.995,0,1,0,5.7-24.67Z"
            transform="translate(-27.857 -27.857)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="2" />
          <path id="Trazado_5470" data-name="Trazado 5470" d="M314.286,231.571a3,3,0,1,1,3,3v2"
            transform="translate(-303.575 -220.861)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="2" />
          <path id="Trazado_5471" data-name="Trazado 5471"
            d="M358.643,542.857a1.5,1.5,0,1,0,1.5,1.5,1.52,1.52,0,0,0-1.5-1.5" transform="translate(-344.935 -524.15)"
            fill="#a0a2a4" />
        </g>
      </svg>
      <span>Cómo jugar</span>
      <img src="img/icons/icon-indicator.svg" alt="">
    </a>
    <a href="" class="menuPoker__btn menuPoker-home">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
        <g id="icon-poker-menu-6" opacity="1">
          <circle id="Elipse_776" data-name="Elipse 776" cx="14" cy="14" r="14" transform="translate(1 1)" fill="none"
            stroke="#a0a2a4" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
          <path id="Trazado_5472" data-name="Trazado 5472" d="M208.616,270.066l4.308-12.923L200,261.45l5.385,3.231Z"
            transform="translate(-192.539 -247.527)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="2" />
        </g>
      </svg>
      <span>Satélites online</span>
      <img src="img/icons/icon-indicator.svg" alt="">
    </a>
  </div>

  <div class="menuPoker__wrapper splide">
    <div class="splide__track">
      <div class="splide__list">

        <a href="/poker-home" class="splide__slide menuPoker__btn menuPoker-home <%= data.home %>">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="24.5" viewBox="0 0 20 24.5">
            <g id="icon-poker-menu-1" transform="translate(-16.5 -3.375)" opacity="1">
              <rect id="Rectángulo_157" data-name="Rectángulo 157" width="18" height="22.5" rx="2"
                transform="translate(17.5 4.375)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" />
              <path id="Trazado_5200" data-name="Trazado 5200" d="M35,19.687a.375.375,0,0,1,.375.375"
                transform="translate(-13.5 -11.687)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" />
              <path id="Trazado_5201" data-name="Trazado 5201" d="M32.812,20.062a.375.375,0,0,1,.375-.375"
                transform="translate(-11.687 -11.687)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" />
              <path id="Trazado_5202" data-name="Trazado 5202" d="M33.187,22.25a.375.375,0,0,1-.375-.375"
                transform="translate(-11.687 -13.5)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" />
              <path id="Trazado_5203" data-name="Trazado 5203" d="M35.375,21.875A.375.375,0,0,1,35,22.25"
                transform="translate(-13.5 -13.5)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" />
              <path id="Trazado_5204" data-name="Trazado 5204" d="M105,115.937a.375.375,0,0,1,.375.375"
                transform="translate(-73.5 -93.438)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" />
              <path id="Trazado_5205" data-name="Trazado 5205" d="M102.812,116.312a.375.375,0,0,1,.375-.375"
                transform="translate(-71.688 -93.438)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" />
              <path id="Trazado_5206" data-name="Trazado 5206" d="M103.187,118.5a.375.375,0,0,1-.375-.375"
                transform="translate(-71.688 -95.25)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" />
              <path id="Trazado_5207" data-name="Trazado 5207" d="M105.375,118.125a.375.375,0,0,1-.375.375"
                transform="translate(-73.5 -95.25)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" />
              <path id="Trazado_5208" data-name="Trazado 5208"
                d="M56.25,48.459a.75.75,0,0,0-1.248,0l-2.376,3.334a.75.75,0,0,0,0,.832L55,55.959a.75.75,0,0,0,1.248,0l2.376-3.334a.75.75,0,0,0,0-.832Z"
                transform="translate(-29 -36.25)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" />
            </g>
          </svg>
          <span>Inicio</span>
          <img src="img/icons/icon-indicator.svg" alt="">
        </a>

        <a href="/poker-pc" class="splide__slide menuPoker__btn menuPoker-pc <%= data.pc %>">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28.072" viewBox="0 0 28 28.072">
            <g id="icon-poker-menu-2" transform="translate(-27.571 -27.571)">
              <path id="Trazado_5474" data-name="Trazado 5474"
                d="M28.571,295.359a2,2,0,0,1,1.94-2.056H44.089a2,2,0,0,1,1.94,2.056v8.223a2,2,0,0,1-1.94,2.056H30.511a2,2,0,0,1-1.94-2.056Z"
                transform="translate(0 -255.441)" fill="none" stroke="#a0a2a4" stroke-linejoin="round"
                stroke-width="2" />
              <line id="Línea_208" data-name="Línea 208" y2="4.446" transform="translate(37.3 50.197)" fill="none"
                stroke="#a0a2a4" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
              <line id="Línea_209" data-name="Línea 209" x2="7.759" transform="translate(33.42 54.643)" fill="none"
                stroke="#a0a2a4" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
              <path id="Trazado_5475" data-name="Trazado 5475"
                d="M134.482,32.285V30.428a1.857,1.857,0,0,1,1.857-1.857h18.569a1.857,1.857,0,0,1,1.857,1.857v13a1.857,1.857,0,0,1-1.857,1.857h-1.857"
                transform="translate(-102.194 0)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" />
              <line id="Línea_210" data-name="Línea 210" x2="17.458" transform="translate(28.571 46.192)" fill="none"
                stroke="#a0a2a4" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
            </g>
          </svg>
          <span>En el PC</span>
          <img src="img/icons/icon-indicator.svg" alt="">
        </a>


        <a href="/poker-mobile" class="splide__slide menuPoker__btn menuPoker-mobile <%= data.mobile %>">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28.599" viewBox="0 0 28 28.599">
            <g id="icon-poker-menu-3" transform="translate(-1174.571 353.428)" opacity="1">
              <path id="Trazado_5473" data-name="Trazado 5473"
                d="M131.354,32.292v-1.86a1.86,1.86,0,0,1,1.86-1.86h18.6a1.86,1.86,0,0,1,1.86,1.86v13.02a1.86,1.86,0,0,1-1.86,1.86h-7.44"
                transform="translate(1047.897 -381)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" />
              <rect id="Rectángulo_250" data-name="Rectángulo 250" width="11.386" height="17.078" rx="2"
                transform="translate(1175.571 -342.907)" fill="none" stroke="#a0a2a4" stroke-linejoin="round"
                stroke-width="2" />
              <line id="Línea_206" data-name="Línea 206" x2="11.386" transform="translate(1175.571 -330.143)"
                fill="none" stroke="#a0a2a4" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
              <line id="Línea_207" data-name="Línea 207" x2="1.017" transform="translate(1180.756 -339.768)" fill="none"
                stroke="#a0a2a4" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
            </g>
          </svg>
          <span>En el Móvil</span>
          <img src="img/icons/icon-indicator.svg" alt="">
        </a>

        <a href="/poker-tournament" class="splide__slide menuPoker__btn menuPoker-tour <%= data.tour %>">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
            <g id="icon-poker-menu-4" transform="translate(-27.571 -27.571)" opacity="1">
              <line id="Línea_211" data-name="Línea 211" y2="7.385" transform="translate(40.571 45.186)" fill="none"
                stroke="#a0a2a4" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
              <line id="Línea_212" data-name="Línea 212" x2="12.923" transform="translate(34.109 52.571)" fill="none"
                stroke="#a0a2a4" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
              <path id="Trazado_5476" data-name="Trazado 5476"
                d="M34.109,85.714H28.571v3.692a5.538,5.538,0,0,0,5.538,5.538Z" transform="translate(0 -55.297)"
                fill="none" stroke="#a0a2a4" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
              <path id="Trazado_5477" data-name="Trazado 5477" d="M600,85.714h5.538v3.692A5.538,5.538,0,0,1,600,94.945Z"
                transform="translate(-552.967 -55.297)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" />
              <path id="Trazado_5478" data-name="Trazado 5478" d="M200,28.571V38.725a6.462,6.462,0,1,0,12.923,0V28.571Z"
                transform="translate(-165.891)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" />
            </g>
          </svg>
          <span>Torneos</span>
          <img src="img/icons/icon-indicator.svg" alt="">
        </a>

        <a href="" class="splide__slide menuPoker__btn menuPoker-home">
          <svg xmlns="http://www.w3.org/2000/svg" width="28.039" height="28.031" viewBox="0 0 28.039 28.031">
            <g id="icon-poker-menu-5" transform="translate(0.286 0.286)" opacity="1">
              <path id="Trazado_5469" data-name="Trazado 5469"
                d="M41.566,28.571A12.995,12.995,0,0,0,30.75,48.763l-2.179,5.8,7.3-1.319a12.995,12.995,0,1,0,5.7-24.67Z"
                transform="translate(-27.857 -27.857)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" />
              <path id="Trazado_5470" data-name="Trazado 5470" d="M314.286,231.571a3,3,0,1,1,3,3v2"
                transform="translate(-303.575 -220.861)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" />
              <path id="Trazado_5471" data-name="Trazado 5471"
                d="M358.643,542.857a1.5,1.5,0,1,0,1.5,1.5,1.52,1.52,0,0,0-1.5-1.5"
                transform="translate(-344.935 -524.15)" fill="#a0a2a4" />
            </g>
          </svg>
          <span>Cómo jugar</span>
          <img src="img/icons/icon-indicator.svg" alt="">
        </a>

        <a href="" class="splide__slide menuPoker__btn menuPoker-home">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
            <g id="icon-poker-menu-6" opacity="1">
              <circle id="Elipse_776" data-name="Elipse 776" cx="14" cy="14" r="14" transform="translate(1 1)"
                fill="none" stroke="#a0a2a4" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
              <path id="Trazado_5472" data-name="Trazado 5472" d="M208.616,270.066l4.308-12.923L200,261.45l5.385,3.231Z"
                transform="translate(-192.539 -247.527)" fill="none" stroke="#a0a2a4" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" />
            </g>
          </svg>
          <span>Satélites online</span>
          <img src="img/icons/icon-indicator.svg" alt="">
        </a>

      </div>
    </div>
  </div>

</section>