<section class="userContent has-header">
    <div class="userContent__block">
        <div class="dataBlock block-active">
            <%- include ('data') %>
        </div>
        <div class="dataModifyBlock">
            <%- include ('data-modify') %>
        </div>
    </div>
    <div class="userContent__block">
        <div class="docsBlock block-active">
            <%- include ('docs') %>
        </div>
        <div class="docsVerifyBlock">
            <%- include ('docs-verify') %>
        </div>
        <div class="docsVerifyBlock2">
            <%- include ('docs-verify2') %>
        </div>
    </div>
    <div class="userContent__block">
        <%- include ('history') %>
    </div>
    <div class="userContent__block">
        <%- include ('wallet') %>
    </div>
    <div class="userContent__block">
        <%- include ('preferences') %>
    </div>
    <div class="userContent__block">
        <%- include ('support') %>
    </div>
    <div class="userContent__block">
        <%- include ('support') %>
    </div>
</section>