<aside class="userMenu ">
    <nav class="nav">
        <div class="nav__title">
            <p>Hola, Roberto</p>
            <div class="nav__title-verify">
                <img src="img/user/icon/icon-check-cyan.svg" alt="">
                <p>Cuenta verificada</p>
            </div>
        </div>
        <a href="/datos" class="nav__item <%= nav.data %>">
            <div class="nav__item--left">
                <svg class="nav__item-icon" xmlns="http://www.w3.org/2000/svg" width="22.515" height="23.292">
                    <g transform="translate(.434 .176)" fill="none" stroke="#13171d " stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="2">
                        <circle data-name="Elipse 755" cx="5.259" cy="5.259" r="5.259"
                            transform="translate(5.564 .824)" />
                        <path data-name="Trazado 5392" d="M20.823 21.859a10.5 10.5 0 0 0-20 0" />
                    </g>
                </svg>
                <p>Datos</p>
            </div>
            <svg class="nav__item-arrow" id="icon-menu-arrow-grey" xmlns="http://www.w3.org/2000/svg" width="14"
                height="14" viewBox="0 0 14 14">
                <path id="Trazado_97" data-name="Trazado 97"
                    d="M14,7a7,7,0,1,0-7,7A7,7,0,0,0,14,7ZM5.29,10.71A1,1,0,0,1,5.284,9.3L5.29,9.29,7.41,7.18a.25.25,0,0,0,.007-.354L7.41,6.82,5.29,4.71A1,1,0,0,1,6.71,3.29l3,3A1,1,0,0,1,9.716,7.7L9.71,7.71l-3,3a1,1,0,0,1-1.414.006Z"
                    fill="#868b92" />
            </svg>
        </a>
        <a href="/mis-documentos" class="nav__item <%= nav.docs %>">
            <div class="nav__item--left">
                <svg class="nav__item-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="23.273">
                    <g fill="none" stroke="#13171d" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                        <path data-name="Trazado 5396"
                            d="M19 20.636a1.636 1.636 0 0 1-1.636 1.636H2.636A1.636 1.636 0 0 1 1 20.636v-18A1.636 1.636 0 0 1 2.636 1h8.182L19 9.182Z" />
                        <path data-name="Trazado 5397" d="M10.819 1v8.182h8.182" />
                    </g>
                </svg>
                <p>Mis documentos</p>
            </div>
            <svg class="nav__item-arrow" id="icon-menu-arrow-grey" xmlns="http://www.w3.org/2000/svg" width="14"
                height="14" viewBox="0 0 14 14">
                <path id="Trazado_97" data-name="Trazado 97"
                    d="M14,7a7,7,0,1,0-7,7A7,7,0,0,0,14,7ZM5.29,10.71A1,1,0,0,1,5.284,9.3L5.29,9.29,7.41,7.18a.25.25,0,0,0,.007-.354L7.41,6.82,5.29,4.71A1,1,0,0,1,6.71,3.29l3,3A1,1,0,0,1,9.716,7.7L9.71,7.71l-3,3a1,1,0,0,1-1.414.006Z"
                    fill="#868b92" />
            </svg>
        </a>
        <a href="/historial" class="nav__item <%= nav.hist %>">
            <div class="nav__item--left">
                <svg class="nav__item-icon" xmlns="http://www.w3.org/2000/svg" width="22" height="17.385">
                    <g fill="none" stroke="#13171d" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                        <path data-name="Trazado 5393" d="M1.769 1A.769.769 0 1 1 1 1.769.769.769 0 0 1 1.769 1Z" />
                        <path data-name="Línea 144" d="M7.154 1.769H21" />
                        <path data-name="Trazado 5394"
                            d="M1.769 7.923A.769.769 0 1 1 1 8.692a.769.769 0 0 1 .769-.769Z" />
                        <path data-name="Línea 145" d="M7.154 8.692H21" />
                        <path data-name="Trazado 5395"
                            d="M1.769 14.846a.769.769 0 1 1-.769.769.769.769 0 0 1 .769-.769Z" />
                        <path data-name="Línea 146" d="M7.154 15.615H21" />
                    </g>
                </svg>
                <p>Historial</p>
            </div>
            <svg class="nav__item-arrow" id="icon-menu-arrow-grey" xmlns="http://www.w3.org/2000/svg" width="14"
                height="14" viewBox="0 0 14 14">
                <path id="Trazado_97" data-name="Trazado 97"
                    d="M14,7a7,7,0,1,0-7,7A7,7,0,0,0,14,7ZM5.29,10.71A1,1,0,0,1,5.284,9.3L5.29,9.29,7.41,7.18a.25.25,0,0,0,.007-.354L7.41,6.82,5.29,4.71A1,1,0,0,1,6.71,3.29l3,3A1,1,0,0,1,9.716,7.7L9.71,7.71l-3,3a1,1,0,0,1-1.414.006Z"
                    fill="#868b92" />
            </svg>
        </a>
        <a href="/mi-cartera" class="nav__item <%= nav.wallet %>">
            <div class="nav__item--left">
                <svg class="nav__item-icon" xmlns="http://www.w3.org/2000/svg" width="22" height="22.015">
                    <g transform="translate(-27.571 -27.569)" fill="none" stroke="#13171d" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="2">
                        <ellipse data-name="Elipse 757" cx="6.923" cy="3.077" rx="6.923" ry="3.077"
                            transform="translate(34.725 33.199)" />
                        <path data-name="Trazado 5408"
                            d="M34.725 36.276v9.231c0 1.692 3.077 3.077 6.923 3.077s6.923-1.385 6.923-3.077v-9.231" />
                        <path data-name="Trazado 5409"
                            d="M48.571 40.892c0 1.692-3.077 3.077-6.923 3.077s-6.923-1.385-6.923-3.077" />
                        <path data-name="Trazado 5410"
                            d="M41.494 30.123a10.415 10.415 0 0 0-6-1.538c-3.831 0-6.923 1.385-6.923 3.077 0 .908.892 1.723 2.308 2.308" />
                        <path data-name="Trazado 5411" d="M30.879 43.202c-1.415-.585-2.308-1.4-2.308-2.308v-9.231" />
                        <path data-name="Trazado 5412" d="M30.879 38.584c-1.415-.585-2.308-1.4-2.308-2.308" />
                    </g>
                </svg>
                <p>Mi Cartera</p>
            </div>
            <svg class="nav__item-arrow" id="icon-menu-arrow-grey" xmlns="http://www.w3.org/2000/svg" width="14"
                height="14" viewBox="0 0 14 14">
                <path id="Trazado_97" data-name="Trazado 97"
                    d="M14,7a7,7,0,1,0-7,7A7,7,0,0,0,14,7ZM5.29,10.71A1,1,0,0,1,5.284,9.3L5.29,9.29,7.41,7.18a.25.25,0,0,0,.007-.354L7.41,6.82,5.29,4.71A1,1,0,0,1,6.71,3.29l3,3A1,1,0,0,1,9.716,7.7L9.71,7.71l-3,3a1,1,0,0,1-1.414.006Z"
                    fill="#868b92" />
            </svg>
        </a>
        <a href="/preferencias" class="nav__item <%= nav.pref %>">
            <div class="nav__item--left">
                <svg class="nav__item-icon" xmlns="http://www.w3.org/2000/svg" width="22.096" height="23.783">
                    <path
                        d="m8.083 3.929.721-1.86A1.676 1.676 0 0 1 10.362.997h1.374a1.676 1.676 0 0 1 1.558 1.072l.721 1.86 2.446 1.408 1.977-.3a1.676 1.676 0 0 1 1.676.821l.67 1.173a1.676 1.676 0 0 1-.134 1.893l-1.223 1.56v2.815l1.257 1.558a1.676 1.676 0 0 1 .134 1.893l-.67 1.173a1.676 1.676 0 0 1-1.676.821l-1.977-.3-2.446 1.408-.721 1.86a1.676 1.676 0 0 1-1.558 1.072h-1.408a1.676 1.676 0 0 1-1.558-1.072l-.721-1.86-2.446-1.408-1.977.3a1.676 1.676 0 0 1-1.676-.821l-.67-1.173a1.676 1.676 0 0 1 .134-1.893l1.223-1.558v-2.815L1.414 8.929a1.676 1.676 0 0 1-.137-1.9l.67-1.173a1.676 1.676 0 0 1 1.676-.821l1.977.3Zm-.385 7.959a3.351 3.351 0 1 0 3.351-3.351 3.351 3.351 0 0 0-3.352 3.355Z"
                        fill="none" stroke="#13171d" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                </svg>
                <p>Preferencias</p>
            </div>
            <svg class="nav__item-arrow" id="icon-menu-arrow-grey" xmlns="http://www.w3.org/2000/svg" width="14"
                height="14" viewBox="0 0 14 14">
                <path id="Trazado_97" data-name="Trazado 97"
                    d="M14,7a7,7,0,1,0-7,7A7,7,0,0,0,14,7ZM5.29,10.71A1,1,0,0,1,5.284,9.3L5.29,9.29,7.41,7.18a.25.25,0,0,0,.007-.354L7.41,6.82,5.29,4.71A1,1,0,0,1,6.71,3.29l3,3A1,1,0,0,1,9.716,7.7L9.71,7.71l-3,3a1,1,0,0,1-1.414.006Z"
                    fill="#868b92" />
            </svg>
        </a>
        <a href="/soporte" class="nav__item <%= nav.supp %>">
            <div class="nav__item--left">
                <svg class="nav__item-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24">
                    <g id="icon-menu-support" transform="translate(-3.375 -3.375)">
                        <path id="Trazado_4906" data-name="Trazado 4906"
                            d="M8.042,61.3H7.308a2.933,2.933,0,0,1-2.933-2.933V55.433A2.933,2.933,0,0,1,7.308,52.5h.733a.733.733,0,0,1,.733.733v7.333A.733.733,0,0,1,8.042,61.3Z"
                            transform="translate(0 -40.058)" fill="none" stroke="#13171d" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" />
                        <path id="Trazado_4907" data-name="Trazado 4907"
                            d="M110.842,61.3h-.733a.733.733,0,0,1-.733-.733V53.233a.733.733,0,0,1,.733-.733h.733a2.933,2.933,0,0,1,2.933,2.933v2.933A2.933,2.933,0,0,1,110.842,61.3Z"
                            transform="translate(-87.4 -40.058)" fill="none" stroke="#13171d" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" />
                        <path id="Trazado_4908" data-name="Trazado 4908"
                            d="M21.875,12.442a8.067,8.067,0,0,1,8.067-8.067h0a8.067,8.067,0,0,1,8.067,8.067"
                            transform="translate(-14.567 0)" fill="none" stroke="#13171d" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" />
                        <path id="Trazado_4909" data-name="Trazado 4909"
                            d="M87.5,108.667h2.2a2.933,2.933,0,0,0,2.933-2.933h0V105"
                            transform="translate(-69.192 -83.758)" fill="none" stroke="#13171d" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" />
                        <path id="Trazado_4910" data-name="Trazado 4910"
                            d="M64.183,121.058H62.717a1.467,1.467,0,0,1-1.467-1.467h0a1.467,1.467,0,0,1,1.467-1.467h1.467a1.467,1.467,0,0,1,1.467,1.467h0A1.467,1.467,0,0,1,64.183,121.058Z"
                            transform="translate(-47.342 -94.683)" fill="none" stroke="#13171d" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" />
                    </g>
                </svg>
                <p>Soporte</p>
            </div>
            <svg class="nav__item-arrow" id="icon-menu-arrow-grey" xmlns="http://www.w3.org/2000/svg" width="14"
                height="14" viewBox="0 0 14 14">
                <path id="Trazado_97" data-name="Trazado 97"
                    d="M14,7a7,7,0,1,0-7,7A7,7,0,0,0,14,7ZM5.29,10.71A1,1,0,0,1,5.284,9.3L5.29,9.29,7.41,7.18a.25.25,0,0,0,.007-.354L7.41,6.82,5.29,4.71A1,1,0,0,1,6.71,3.29l3,3A1,1,0,0,1,9.716,7.7L9.71,7.71l-3,3a1,1,0,0,1-1.414.006Z"
                    fill="#868b92" />
            </svg>
        </a>
        <a href="/juego-responsable" class="nav__item <%= nav.game %>">
            <div class="nav__item--left">
                <svg class="nav__item-icon" xmlns="http://www.w3.org/2000/svg" width="24.4" height="24.21"
                    viewBox="0 0 24.4 24.21">
                    <g id="icon-menu-game" transform="translate(-27.571 -27.572)">
                        <circle id="Elipse_786" data-name="Elipse 786" cx="4.389" cy="4.389" r="4.389"
                            transform="translate(31.923 28.572)" fill="none" stroke="#000" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" />
                        <path id="Trazado_5485" data-name="Trazado 5485"
                            d="M28.571,437.072v-.952a7.918,7.918,0,0,1,7.544-7.827q.179-.008.357-.009t.357.009a7.918,7.918,0,0,1,5.53,2.634"
                            transform="translate(0 -388.045)" fill="none" stroke="#000" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" />
                        <path id="Trazado_5486" data-name="Trazado 5486" d="M393.37,457.143l-7.234,9.657-3.82-3.246"
                            transform="translate(-342.799 -416.018)" fill="none" stroke="#000" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" />
                    </g>
                </svg>
                <p>Juego Responsable</p>
            </div>
            <svg class="nav__item-arrow" id="icon-menu-arrow-grey" xmlns="http://www.w3.org/2000/svg" width="14"
                height="14" viewBox="0 0 14 14">
                <path id="Trazado_97" data-name="Trazado 97"
                    d="M14,7a7,7,0,1,0-7,7A7,7,0,0,0,14,7ZM5.29,10.71A1,1,0,0,1,5.284,9.3L5.29,9.29,7.41,7.18a.25.25,0,0,0,.007-.354L7.41,6.82,5.29,4.71A1,1,0,0,1,6.71,3.29l3,3A1,1,0,0,1,9.716,7.7L9.71,7.71l-3,3a1,1,0,0,1-1.414.006Z"
                    fill="#868b92" />
            </svg>
        </a>
        <div class="nav__btn">
            <a href="/mis-documentos" class="btn__blue btn__icons ">
                <img src="img/user/icon/icon-menu-btn-check.svg" alt="">
                <span>Verificar cuenta</span>
                <img src="img/icons/icon-btn-arrow.svg" alt="">
            </a>
        </div>
    </nav>
    <a href="/" class="userMenu__session">
        <img src="img/user/icon/icon-menu-power.svg" alt="">
        <span>Cerrar Sesión</span>
    </a>
</aside>